<div class="container mt-2 hoja">
  <div class="row d-flex justify-content-around">
    <div class="col-md-2">
      <img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="col-md-5 mt-5">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="col-md-3 mt-4">
      <div [hidden]="notificacionSuccess" class="alert alert-success">
        <strong>Success!</strong> La operacion se realizo correctamente
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" (click)="hideNotificacionSuccess()">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-around mt-3 mb-3">
    <div class="col-md-5 d-flex flex-column">
      <h3>Introduccir datos:</h3>
      <form>
        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control" name="nombreAdd" type="text" placeholder="Nombre" [(ngModel)]="modelo.nombreAdd" [ngClass]="{'is-invalid':addNombreInput}">
        </div>
        <div class="form-group">
          <label>Puesto:</label>
          <input class="form-control" name="puestoAdd" type="text" placeholder="Puesto" [(ngModel)]="modelo.puestoAdd" [ngClass]="{'is-invalid':addPuestoInput}">
        </div>
        <button type="button" class="btn btn-primary" (click)="addEmpleado()">Guardar</button>
      </form>
    </div>
    <div class="col-md-5 d-flex flex-column">
      <h3>Visualizar datos:</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empleado">
            <td>{{emp.nombre}}</td>
            <td>{{emp.posicion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex justify-content-around mt-3 mb-3 pb-3">
    <div class="col-md-5 d-flex flex-column">
      <h3>Editar/Borrar</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Puesto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empleado">
            <td>{{emp.nombre}}</td>
            <td>{{emp.posicion}}</td>
            <td>
              <div (click)="editEmpleado(emp.ID)" class="btn btn-info">Editar</div>
              <div (click)="deleteEmpleado(emp.ID)" class="btn btn-danger">Borrar</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5 d-flex flex-column">
      <h3>Formulario de edicion:</h3>
      <form>
        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control" type="text" name="nombreEditar" placeholder="Nombre" [(ngModel)]="modelo.editarNombre">
        </div>
        <div class="form-group">
          <label>Puesto:</label>
          <input class="form-control" type="text" name="puestoEditar" placeholder="Puesto" [(ngModel)]="modelo.editarPuesto">
          <input class="form-control" type="hidden" name="idEditar" [(ngModel)]="modelo.editarId">
        </div>
        <button type="button" class="btn btn-primary" (click)="reemplazarEmpleado()" >Editar</button>
      </form>
    </div>
  </div>
</div>
